:root {
    --main-font-family: "Roboto", sans-serif;
    --secondary-front-family: "Roleway", sans-serif;
    --primary-text-color: #2E2F42;
    --title-text-color: #434455;
    --primary-bg-color: #FFFFFF;
    --secondary-bg-color: #F4F4FD;
    --accent-color: #4D5AE5;
    --btn-hover-color: #404bbf;
}

h1,h2,h3,h4,h5,h6,p,ul {
    margin: 0;
    padding: 0;
}
ul,ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
li {
    display: list-item;
}
main {
    display: block;
}
img {
    display: block
}
.list {
    list-style: none;
    display: flex;
}
.link {
    text-decoration: none;
}

*,
::after,
::before {
    box-sizing: border-box;
}
.adress {
    font-style: normal;
}

[adress] {
    display: block;
}

.pading-bottom-zero {
    padding-bottom: 0;
}

.body {
    font-family: "Roboto", sans-serif;
    background-color: var(--primary-bg-color);
    color: var(--title-text-color);
    background: var(--primary-bg-color);
    border-bottom: 1px solid #222c8d;
}

.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}
@media screen and (min-width: 320px) and (max-width: 767px){
    .container {
        width: 320px;
        margin-left: auto;
        margin-right: auto;
    }
.header-menu {
        display: none;
    }
.adress-header {
        display: none;
    }
.use-svg-mobil {
        width: 100%;
        height: 100%;
    }
.page-navigation {
        align-items: center;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        padding: 0px;
    }
.page-header-logo {
        font-family: 'Raleway', sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #404bbf;
        flex-direction: row;
    }
.span {
        color: var(--primary-text-color);
    }
.button-for-tell-menu {
        top: 24px;
        right: 23px;
        display: flex;
        border: none;
        background-color: transparent;
        padding: 0;
        line-height: 0;
    }
.mobile-menu-close-btn {
        position: absolute;
        top: 24px;
        right: 23px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        border: 1px solid #555555;
        border-radius: 50%;
        background-color: transparent;
        padding: 0;
        overflow: hidden;
    }
.mobile-menu-close-icon {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
    }
.mobile-menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #ffffff;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        overflow: auto;
    }
.mobal-menu-container {
        position: relative;
        padding-top: 80px;
        padding-left: 24px;
    }
.mobile-menu.is-open {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }
.page-header {
        padding-top: 25.5px;
        padding-bottom: 23.5px;
        background-color: var(--primary-bg-color);
    }
.mobile-link-modal {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        color: #2E2F42;
        text-align: center;
        margin: 0 auto 48px auto;
    }
.mobile-list-for-link {
        display: flex;
        flex-direction:column;
        gap: 40px;
        margin-left: 0;
    }
.mobile-list-for-contact {
        display: flex;
        flex-direction:column;
        gap: 40px;
        margin-top: 281px;
        margin-left: 0px;
    }
.mobile-tell-modal-link {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        color: #2E2F42;
        text-align: center;
    }
.new-color-for-tell-contact {
        color: #4D5AE5;
    }
.mobile-adress-contact-mail {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2E2F42;
        text-align: center;
    }
.ul-social-media-for-tell {
        margin-top: 51px;
        display: flex;
        gap: 56px;
    }
.li-social-media-for-tell {
        height: 40px;
        width: 40px;
        background-color:#4D5AE5;
        border-radius: 50%;
    }
.a-socail-media-for-tell {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    .first-section {
        padding-top: 112px;
        padding-bottom: 112px;
       }
.banner {
    background-color: var(--primary-text-color);
    text-align: center;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/mobile/dark-bg.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 428px;
    min-width: 320px;
    background-color: #2E2F42;
    margin-left: auto; 
    margin-right: auto;
    }
.main-header {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--primary-bg-color);
    max-width: 496px;
    text-align: center;
    margin: 0 auto 0 auto;
    margin-bottom: 72px ;
}
.modal-open-btn {
    display: block;
    background-color: var(--accent-color);
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--primary-bg-color);
    cursor: pointer;
    border-radius: 4px;
    padding: 16px 32px 16px 32px;
    min-width: 169px;
    text-align: center;
    margin: 0 auto;
    height: 56px;
    border: none;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.new-secend-div {
    display: none;
}
.secend-section {
    padding-top: 96px;
    padding-bottom: 96px;
}
.ul-for-secend-section{
    
    display: flex;
    justify-content: space-around;
    flex-direction:column;
    gap: 72px;
}
.secent-section-block-first {
    display: flex;
    gap: 8px;
    flex-direction: column;
    justify-content: center;
        align-items: center;
}
.header-text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    
}
.text-rob {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}
.three-section {
    display: none;
}
.four-section {
    background-color: var(--secondary-bg-color);
    padding: 96px 0;
}
.section-for-four-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
        align-items: center;
}
.header-section-four {
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--primary-text-color);
    margin-bottom: 72px;
}
.four-section-assembly {
    display: flex;
    flex-direction: column;
    justify-content: center;
        align-items: center;
        gap: 72px;
}
.four-section-assembly-list-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: var(--primary-bg-color);
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
    
 }
.container-for-workers {
    display: flex;
    gap: 8px;
    flex-direction: column;
    justify-content: center;
        align-items: center;
}
.container-for-workers {
    padding: 32px 0;
}
.social-list {
    display: flex;
    justify-content: center;

    gap: 24px;
}
.social-list-item {}
.social-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    
     width: 40px;
    height: 40px; 
    border-radius: 50%;
    background-color: #4D5AE5;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-icon {
    fill: #f4f4fd;
    content: center;
}
.work-four-secend {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .customers-link-item {}
  .customers-link-item>.customers-link-ic {
    width: 190px;
    display: flex;
    border-radius: 4px;
    color: #8e8f99;
    border: 1px solid #8e8f99;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-link-ic:hover,
.customers-link-ic:focus,
.customers-link-item:hover,
.customers-link-item:focus {
    border-color: #404bbf;
    color: #404bbf;
    fill: currentColor;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}
.customers-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 16px;
    grid-row-gap: 72px;
    justify-items: center;
  }
  
  .customers-link-ic {
    display: flex;
    justify-content: center;
    align-items: center;
     height: 88px;
    width: 175px; 
  }
  .social-list-ic {}
  .customers-link-ic svg {
      width: 110px;
      height: 56px;
  }
.customers {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    text-align: center;
    padding-bottom: 72px;
}
.our-footer-end {
    background-color: var(--primary-text-color);
    padding: 100px 0;
    
}
.footer-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 72px;}

.footer-div-one {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
} 
.our-footer-a {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: inline-block;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--accent-color);
    flex-direction: row;
    margin-bottom: 17.5px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-footer-a-span {
    color: var(--secondary-bg-color);
}
.text-footer {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    max-width: 264px;
}
.footer-dav-two {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.p-social-media {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.ul-social-media {
    display: flex;
    justify-content: center;
    gap: 16px;
    }
.li-social-media {
    width: 40px;
    height: 40px;
   
}
.a-socail-media {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}    
.modal-contact-form-footer {
    display: flex;
    flex-direction: column;
        gap: 16px;
    }
.footer-dav-three {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    gap: 16px;
    
}
.footer-div-three-p {
    font-weight: 500;
    display: block;
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
}
.modal-contact-label-wrapper {
 display: flex;
 align-items: center;
    justify-content: center;
}
.footer-contact-form-input {  
    width: 366px; 
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: #ffffff;
}
.footer-contact-form-input::placeholder {
    color: #ffffff;
}
.contact-button-subscribe {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--accent-color);
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--primary-bg-color);
    cursor: pointer;
    border-radius: 4px;
    padding: 8px 24px 8px 24px;
    min-width: 165px;
    text-align: center;
    margin: 0 auto;
    height: 40px;
    border: none;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-sent-icon {
    fill: white;
    margin-left: 16px;
}
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-class-button {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    padding: 0;
    background-color: transparent;
    border-radius: 50%;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-class-button:focus,
.modal-class-button:hover {
    background-color: #404bbf;
    border: none;
    fill: #FFFFFF;
}
.modal-close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}  
.contact-form-input-name {
    width: 100%;
    height: 40px;
    line-height: 16px;
    letter-spacing: 0.04em;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding-left: 38px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}
.contact-form-input {
    width: 100%;
    height: 40px;
    line-height: 14px;
    letter-spacing: 0.01em;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding-left: 38px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}
.contact-form-input:focus {
    outline: none;
    border-color: #4D5AE5;
}
.modal-open-btn:hover,
.modal-open-btn:focus {
    background-color: var(--btn-hover-color);
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    background-color: #FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}
.form-modal-window-p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-align: center;
    margin-bottom: 16px;
}
.modal-div-form-contact {
    margin-bottom: 8px;
}
.modal-contact-form-field-wrapper {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    gap: 24px;
    margin-bottom: 4px;
}
.contact-form-input-wraper {
    position: relative;
}
.contact-form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form-input:focus {
    border-color: #4D5AE5;
}
.form-class-svg {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form-input:focus+.form-class-svg,
.form-class-svg:hover {
    fill: #4D5AE5;
}
.contact-from-message-comment {
    margin-bottom: 16px;
}
.contact-from-message {
    width: 100%;
    height: 120px;
    font-size: 12px;
    padding: 8px 16px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.2);
    background-color: transparent;
    border-radius: 4px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-from-message:focus {
    outline: none;
    border-color: #4D5AE5;
}
.checkbox-div-form {
    margin-bottom: 24px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
}
.contact-form-checkbox-wrapper {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}
.span-checkbox-form-private {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}
.form-class-checkbox-svg {}
.visually-hidden:checked+label .span-checkbox-form-private {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}
.contact-form-checkbox-wrapper-a {
    color: #4d5ae5;
}
.contact-form-submit {
    display: block;
    background-color: var(--accent-color);
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--primary-bg-color);
    cursor: pointer;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    text-align: center;
    margin: 0 auto;
    height: 56px;
    border: none;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
} 
.social-list-ic {
    fill: currentColor;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

}

@media screen and (min-width: 320px) and (max-width: 427px) {
    .customers-list {
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .footer-contact-form-input {
        width: 240px;
    }
}

@media screen and (min-width: 428px) and (max-width: 767px){
.container {
        width: 428px;
        margin-left: auto;
        margin-right: auto;
    }
    
}





@media screen and (min-width:768px) {
    .container {
        width: 768px;
        padding-left: 16px;
    padding-right: 16px;
    }
    .button-for-tell-menu {display: none;
    }
    .mobile-menu{
        display: none;
    }
 /* старт */

    .page-navigation {
        align-items: center;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        padding: 0px;
    }
    /* ?чому не унаслідує? */
    .page-header-logo {font-family: 'Raleway', sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #404bbf;
        flex-direction: row;}
    .span {
            color: var(--primary-text-color);
        }

    .page-header {
        display: flex;
        padding: 0;
        margin: 0;
        align-items: center;
        justify-content: center;
        background-color: var(--primary-bg-color);
        
    }
    .div-pead-container {
        display: flex;
        align-items: center;
        justify-content: center;}

    .header-menu {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 24px 0 20px 120px;
        gap: 40px;
    }
    .header-menu-list {
        position: relative;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--primary-text-color);
        padding: 24px 0;}
        .header-menu-list:hover,
    .header-menu-list:focus {
    color: var(--btn-hover-color);
    }
    .adress-header {
        display: flex;
        flex-direction: column;
        padding: 16px 0 16px 121px;
        gap: 12px;
        align-items: center;
    }
    .adress-contact-mail {
        font-size: 12px;
        position: relative;
        line-height: 1.17;
        letter-spacing: 0.02em;
        color: var(--title-text-color);
        }
       
    .line::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: -1px;
    display: block;
    color: #404bbf;
    background-color: #404BBF;
    border-radius: 2px;
    transition: #404BBF;
    margin-top: 20px;
    opacity: 1;
}
    .adress-contact-mail:hover,
    .adress-contact-mail:focus {
    color: var(--btn-hover-color);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;} 

    .first-section {
        padding-top: 112px;
        padding-bottom: 112px;
       }

    
    .banner {
        display: flex;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/mobile/dark-bg.webp);
        flex-direction: column;
        text-align: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        max-width: 768px;
        padding-top: 112px;
        padding-bottom: 112px;
        background-color: #2E2F42;
        margin: 0 auto;
        width: 100%;
        height: 100%;
        align-items: center;
    } 
    .main-header {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        color: var(--primary-bg-color);
        max-width: 496px;
        text-align: center;
        margin: 0 auto 36px auto;
    }
    .modal-open-btn {
        display: block;
        background-color: var(--accent-color);
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: var(--primary-bg-color);
        cursor: pointer;
        border-radius: 4px;
        padding: 16px 32px 16px 32px;
        min-width: 169px;
        text-align: center;
        margin: 0 auto;
        height: 56px;
        border: none;
        transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    .secend-section {
        padding-top: 96px;
        padding-bottom: 96px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .ul-for-secend-section{
        display: flex;
  flex-wrap: wrap;
  justify-content: center;
   
  align-items: flex-start; 
  row-gap: 72px;
  column-gap: 24px;
  
    }
    .secent-section-block-first {
        width: calc((100% - 24px) / 2);
        display: flex;
        flex-direction: column;
        row-gap: 8px;
}
    .new-secend-div {display: none;}
    .header-text {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        color: var(--primary-text-color);
        
    }
    .text-rob {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--title-text-color);
    }
    .three-section {
        display: none;
    }
    .four-section {
        background-color: var(--secondary-bg-color);
        padding: 96px 96px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header-section-four {
        display: flex;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: var(--primary-text-color);
        margin-bottom: 72px;
    }
      .section-for-four-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
      }
    .four-section-assembly {
        
        display: flex;
        flex-wrap: wrap;
        row-gap: 72px;
        column-gap: 24px;
        justify-content: center;
    }
 .four-section-assembly-list-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    text-align: center;
    background-color: var(--primary-bg-color);
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
    padding-bottom: 32px;
 }
 .social-list {
    display: flex;
    justify-content: center;
    
    gap: 24px;
}
.container-for-workers {
    display: flex;
    padding-top: 32px;
    gap: 8px;
    flex-direction: column;
    justify-content: center;
        align-items: center;
}
.social-list-item {}
.social-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4D5AE5;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover,
.social-list-link:focus {
    background-color: var(--btn-hover-color);
}
.work-four-secend {
    display: flex;
        padding-top: 96px;
        padding-bottom: 96px;
        justify-content: center;
  }
  .customers-link-item { 
   
}
  .customers-link-item>.customers-link-ic {
    display: flex;
     height: 88px;
    width: 168px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    color: #8e8f99;
    border: 1px solid #8e8f99;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

  .customers-link-ic:hover,
.customers-link-ic:focus,
.customers-link-item:hover,
.customers-link-item:focus {
    border-color: #404bbf;
    color: #404bbf;
    fill: currentColor;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}

    .customers {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.1;
        letter-spacing: 0.02em;
        color: var(--primary-text-color);
        text-align: center;
        padding-bottom: 72px;
    }
.customers-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;
    grid-row-gap: 72px;
    justify-items: center;
  }
  .social-list-ic {
    width: 104px;
    height: 56px;
    fill: currentColor;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
 .our-footer-end {
    background-color: var(--primary-text-color);
    padding-top: 100px;
    padding-bottom: 100px; 
  }
  .div-work-four-secend {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    align-content: center;}
      
  .footer-div {
       display: flex;
    flex-wrap: wrap;
    margin: 0 auto 0 auto;
    width: 584px;
    gap: 72px 24px;
    flex-direction: unset;
    justify-content: left;
  }
  .footer-dav-three {
    display: flex;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
       
        flex-wrap: nowrap;
        align-content: space-around;
        justify-content: center;
  }
  
  
  .our-footer-a {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: inline-block;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--accent-color);
    flex-direction: row;
    margin-bottom: 17.5px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .our-footer-a-span {
    color: var(--secondary-bg-color);
  }
  
  .text-footer {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    max-width: 264px;
  }
  
 
  
  .p-social-media {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
  }
  
  .ul-social-media {
    display: flex;
    justify-content: center;
    gap: 16px;
  }
  
  .li-social-media {
    width: 40px;
    height: 40px;
  }
  
  .a-socail-media {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .a-socail-media:hover,
.a-socail-media:focus {
    background-color: #31d0aa;
}
  
  .footer-div-three-p {
    font-weight: 500;
    display: block;
    width: 100%;
    
    text-align: start;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
  }
  
  .modal-contact-label-wrapper {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    
  }
  .modal-contact-form-footer {
    display: flex;
        flex-direction: row;
        gap: 16px;
  }
  .footer-contact-form-input {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: #ffffff;
  }
  
  .footer-contact-form-input::placeholder {
    color: #ffffff;
  }
  
  .contact-button-subscribe {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--accent-color);
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--primary-bg-color);
    cursor: pointer;
    border: none;
    height: 40px;
    padding: 0 16px;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .contact-button-subscribe:hover {
    background-color: #4052ee;
  }
  
  .footer-sent-icon {
    fill: var(--primary-bg-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .footer-sent-icon:hover {
    fill: #ffffff;
  }
  
  .footer-list-icon {
    fill: var(--primary-bg-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .footer-list-icon:hover {
    fill: #ffffff;
  }
    .is-hidden {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }  
    .contact-form-input-name {
        width: 100%;
        height: 40px;
        line-height: 16px;
        letter-spacing: 0.04em;
        border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 4px;
        padding-left: 38px;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
    }
    .contact-form-input {
        width: 100%;
        height: 40px;
        line-height: 14px;
        letter-spacing: 0.01em;
        border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 4px;
        padding-left: 38px;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
    }
    .contact-form-input:focus {
        outline: none;
        border-color: #4D5AE5;
    }
    .modal-open-btn:hover,
    .modal-open-btn:focus {
        background-color: var(--btn-hover-color);
    }
    .modal {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 408px;
        min-height: 584px;
        background-color: #FCFCFC;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        padding: 72px 24px 24px 24px;
    }
    .form-modal-window-p {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2E2F42;
        text-align: center;
        margin-bottom: 16px;
    }
    .modal-div-form-contact {
        margin-bottom: 8px;
    }
    .modal-contact-form-field-wrapper {
        display: block;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #8e8f99;
        gap: 24px;
        margin-bottom: 4px;
    }
    .contact-form-input-wraper {
        position: relative;
    }
    .contact-form-input {
        width: 100%;
        height: 40px;
        border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 4px;
        background-color: transparent;
        padding-left: 38px;
        outline: transparent;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .contact-form-input:focus {
        border-color: #4D5AE5;
    }
    .form-class-svg {
        position: absolute;
        top: 50%;
        left: 16px;
        transform: translateY(-50%);
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .contact-form-input:focus+.form-class-svg,
    .form-class-svg:hover {
        fill: #4D5AE5;
    }
    .contact-from-message-comment {
        margin-bottom: 16px;
    }
    .contact-from-message {
        width: 100%;
        height: 120px;
        font-size: 12px;
        padding: 8px 16px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: rgba(46, 47, 66, 0.4);
        border: 1px solid rgba(46, 47, 66, 0.2);
        background-color: transparent;
        border-radius: 4px;
        outline: transparent;
        resize: none;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .contact-from-message:focus {
        outline: none;
        border-color: #4D5AE5;
    }
    .checkbox-div-form {
        margin-bottom: 24px;
    }
    .visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        border: 0;
        overflow: hidden;
        clip: rect(0 0 0 0);
        white-space: nowrap;
    }
    .contact-form-checkbox-wrapper {
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #8e8f99;
    }
    .span-checkbox-form-private {
        width: 16px;
        height: 16px;
        border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 2px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        fill: transparent;
    }
    .form-class-checkbox-svg {}
    .visually-hidden:checked+label .span-checkbox-form-private {
        background-color: #404bbf;
        border: none;
        fill: #ffffff;
    }
    .contact-form-checkbox-wrapper-a {
        color: #4d5ae5;
    }
    .contact-form-submit {
        display: block;
        background-color: var(--accent-color);
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: var(--primary-bg-color);
        cursor: pointer;
        border-radius: 4px;
        padding: 16px 32px;
        min-width: 169px;
        text-align: center;
        margin: 0 auto;
        height: 56px;
        border: none;
        transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    } 
    .social-list-ic {
        fill: currentColor;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .modal-class-button {
        position: absolute;
        top: 24px;
        right: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        padding: 0;
        background-color: transparent;
        border-radius: 50%;
        background-color: #e7e9fc;
        border: 1px solid rgba(0, 0, 0, 0.1);
        cursor: pointer;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .modal-class-button:focus,
    .modal-class-button:hover {
        background-color: #404bbf;
        border: none;
        fill: #FFFFFF;
} 
}

@media screen and (min-width: 1158px) {
    .container {
        width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
        margin: 0 auto;
    }
         .page-header {
            border-bottom: 1px solid #e7e9fc;
                box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    
         }
        .div-pead-container {
            display: flex;
            justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-direction: row;
            }
            .page-navigation {
                align-items: center;
                display: flex;
                flex-direction: row;
                padding: 0px;}

    .modal {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 408px;
        min-height: 584px;
        background-color: #FCFCFC;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        padding: 72px 24px 24px 24px;
    }
    .form-modal-window-p {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2E2F42;
        text-align: center;
        margin-bottom: 16px;
    }
    .modal-div-form-contact {
        margin-bottom: 8px;
    }
        .header-menu {
            padding: 24px 0 20px 76px;
        }
        .adress-header {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            padding: 24px 0 24px 0;
            gap: 40px; 
            align-items:center;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
.adress-contact-mail {
    font-size: 16px;
    position: relative;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    color: var(--title-text-color);
    transition :color 250ms cubic-bezier(0.4, 0, 0.2, 1); }
    
    .adress-contact-mail:hover,
    .adress-contact-mail:focus {
        color: var(--btn-hover-color) ; 
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 250ms;}
.first-section {
            }
    .banner {
                    display: flex;
                    gap: 48px;
                    
                    flex-direction: column;
                    text-align: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                    max-width: 1158px;
                    padding-top: 188px;
                    padding-bottom: 188px;
                    background-color: #2E2F42;
                    margin: 0 auto;
                    width: 100%;
                    height: 100%;
                }
    .new-color {
                                 color: #404bbf;
}
.list-one {
    width: calc((100% - 48px) / 3);
}

.header-section-three,
.header-plus {
    text-align: center;
    margin-bottom: 8px;
}
.secend-section {
    padding-top: 120px;
    padding-bottom: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-header {
    text-align: center;
    margin: 0 auto 48px auto;
}
.secend-section-box {
    display: flex;
    justify-content: center;
    background: #F4F4FD;
    border-radius: 4px;
    height: 64px;
    width: 64px;
}

.secend-section-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}
.new-secend-div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    width: 264px;
    background-color: var(--secondary-bg-color);
    border-radius: 4px;
    margin-bottom: 8px;
}


/* .four-section-assembly-list-one {
    background-color: var(--primary-bg-color);
    flex-basis: calc((100% - 48%)/4);
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
} */
.ul-for-secend-section {}
.secent-section-block-first {
    width: calc((100% - 72px) / 4);
    flex-wrap: wrap;
}
.header-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    text-align: start;
    color: var(--primary-text-color);
    }
    .text-rob {font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--title-text-color);}

        .three-section {
            display: flex;
            padding-bottom: 120px;}

.three-section-page {
    display: flex;
    gap: 24px;}
    .header-section-three,.header-section-four {
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: var(--primary-text-color);
        margin-bottom: 72px;}
    
    .four-section {background-color: var(--secondary-bg-color);
    padding: 120px 0;
    }
    .four-section-assembly {
        display: flex;
        gap: 24px;}

        .four-section-assembly-list-one {
            background-color: var(--primary-bg-color);
            flex-basis: calc((100% - 48%)/4);
            border-radius: 0 0 4px 4px;
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
                0px 1px 1px rgba(46, 47, 66, 0.16),
                0px 2px 1px rgba(46, 47, 66, 0.08);
                padding-bottom: 0px;
            }
            .container-for-workers {padding: 32px 0;}
            .social-list {
                display: flex;
                justify-content: center;
                margin-top: 0px;
                padding-left: 16px;
                padding-right: 16px;
                gap: 24px;}
            
            .social-list-link {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background-color: #4D5AE5;
                transition-property: background-color;
                    transition-duration: 250ms;
                    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            }
            .social-list-link:hover,
            .social-list-link:focus {background-color: var(--btn-hover-color);}
            .social-list-icon {fill: #f4f4fd;}
            .social-list-item {}
            .social-list-link {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background-color: #4D5AE5;
                transition-property: background-color;
                transition-duration: 250ms;
                transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            }
.work-four-secend {
    padding-top: 120px;
    padding-bottom: 120px;}

    .customers-list {
        display: flex;
        justify-content: center;
        gap: 24px;
        }
    
    .customers-link-item {
        border-radius: 4px;
        width: calc((100% - 120px) / 6);
        height: 88px;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    
    .customers-link-item > .customers-link-ic {
        display: flex;
        border-radius: 4px;
        align-items: center;
        justify-content: center;
        color: #8e8f99;
        
        border: 1px solid #8e8f99;
        transition:border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    
    
    .customers-link-ic:hover,
    .customers-link-ic:focus,
    .customers-link-item:hover,
    .customers-link-item:focus {
        border-color: #404bbf;
        color: #404bbf;
        fill: currentColor;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-duration: 250ms;}
    
    .social-list-ic {
        fill: currentColor;
        transition : border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);}
    
    .social-list-icon {fill: #f4f4fd;}
    
    .new-secend-div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    width: 264px;
    background-color: var(--secondary-bg-color);
    border-radius: 4px;
    margin-bottom: 8px;}
    
    .work-four-secend {
        padding-top: 120px;
        padding-bottom: 120px;}
    
    .footer-div {
        display: flex;
        align-items: baseline;}
    
    .footer-div-one {margin-right: 120px;}
    .footer-dav-two {margin-right: 80px;}
    
    .ul-social-media {
        display: flex;
        gap: 16px;
    }
    
    .li-social-media {
        width: 40px;
        height: 40px;
    }
    
    .a-socail-media {
        width: 100%;
        height: 100%;
        background-color:#4d5ae5;
        border-radius:50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);}
    
    .a-socail-media:hover,
    .a-socail-media:focus {
        background-color: #31d0aa;
    }
    
    .footer-list-icon {fill:#f4f4fd;}
    
    .backdrop {
        position: fixed;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(46, 47, 66, 0.4);
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .modal-class-button {
        position: absolute;
        top: 24px;
        right: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        padding: 0;
         background-color:transparent;
         border-radius: 50%;
         background-color: #e7e9fc;
         border: 1px solid rgba(0, 0, 0, 0.1);
         cursor: pointer;
         transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .modal-class-button:focus,
    .modal-class-button:hover {
        background-color: #404bbf;
        border: none;
        fill: #FFFFFF;}
    
    .modal-close-icon {transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);}
    .is-hidden {
        opacity: 0;
        visibility: hidden;
        pointer-events: none ;
    }
    .social-list-ic {
        width: 104px;
        height: 56px;
        fill: currentColor;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .our-footer-end {
        background-color:var(--primary-text-color) ;
       
        padding: 100px 0;}
        .footer-div {
            display: flex;
            flex-wrap: nowrap;
            gap: 0;
            flex-direction: row;}
        
        .footer-div-one {margin-right: 120px;}
        .footer-dav-two {margin-right: 80px;}
        .our-footer-a {
            font-family: 'Raleway', sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 21px;
        line-height: 1.17;
        display: inline-block;
        align-items: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--accent-color);
        flex-direction: row;
        margin-bottom: 16px;
        transition : background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
        }
        .our-footer-a-span {color: var(--secondary-bg-color);}
        .text-footer{
            width: 264px ;}

            .modal-contact-form-footer {display: flex; gap: 24px;}
.modal-contact-label-wrapper {}
.footer-contact-form-input {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: #ffffff;}
.footer-contact-form-input::placeholder {color: #ffffff;}
.contact-button-subscribe {
        display: flex;
        justify-content: center;
        align-items: center; 
        background-color: var(--accent-color);
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: var(--primary-bg-color);
        cursor: pointer;
        border-radius: 4px;
        padding: 8px 24px 8px 24px;
        min-width: 165px;
        text-align: center;
        margin: 0 auto;
        height: 40px;
        border: none;
        transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);}
.footer-sent-icon {
fill: white;
margin-left: 16px ;
}
}

 /* 2x */
 @media screen and (min-device-pixal-ratio: 2) and (max-width: 767px),
 screen and (min-resolution: 192dpi) and (max-width: 767px),
 screen and (min-resolution: 2dppx) and (min-width: 767px) {
     .banner {
         background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/mobile/dark-bgx2.webp);
     }
 }
 